<section class="section first-section">
    {{> topHomeContent}}
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                {{> listOfPosts}}

                
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                {{> sidebar}}
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>