<h4 class="small-title">About author</h4>
<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <img src="{{userImage}}" alt="" class="img-fluid rounded-circle">
    </div><!-- end col -->

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <h4><a> {{auther.full_name}} </a></h4>
        <p> {{auther.description}} </p>

    </div><!-- end col -->
</div><!-- end row -->