body{
  background: #f4f4f4f4;
}

/*Navbar*/
.navbar {
  min-height: 33px !important;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-nav > li > a, .navbar-brand{
  padding-top: 6px !important;
  padding-bottom: 0 !important;
  height: 33px;
}

.navbar-default {
  background-color: #009688;
  border-color: #00695C;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #E0F2F1;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #E0F2F1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #E0F2F1;
  background-color: #00695C;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #E0F2F1;
  background-color: #00695C;
}
.navbar-default .navbar-toggle {
  border-color: #00695C;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #00695C;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #E0F2F1;
}

.main-color-bg{
  background-color: #009688 !important;
  border-color: #00695C !important;
  color: #ffffff !important;
}

/*Header*/

#header{
  background: #263238;
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create{
  padding-top: 20px;
}

/*Breadcrumb*/
.breadcrumb{
  background: #cccccc;
  color: #263238;
}

.breadcrumb a{
  color: #263238;
}

/*Progress Bar*/

.progress-bar{
  background: #263238;
  color: #ffff;

}

.dash-box{
  text-align: center;
}

/* Footer */
#footer{
  background: #263238;
  color: #ffffff;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}

#login{
  margin-top: 30px;
}

/*Media Queries*/

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #E0F2F1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #E0F2F1;
    background-color: #00695C;
  }
}
