<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <section class="section first-section">
                    <div style="text-align: center; margin: 50px 0;">
                        <h1> 404 NOT FOUND :(</h1>

                        <hr class="invis">

                        <h4>
                            go to
                            <a href="/">Home</a>
                            page
                        </h4>
                    </div>
                </section>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>